.submit-button{
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: 1.5px black solid;
    margin-left: 10vw;
    height: 7vh;
    width: 14vw;
}